
.core-table{
    /*background: #ECECEC !important;*/
} 
.core-table .ui.selection.dropdown{
    min-width: initial;
}
.button-group{
    margin: 0 10px;
}
.ant-btn{
    margin: 5px !important;
}
.button-group button{
    margin: 5px 10px;
}

.ant-form-item-label{
    text-align: left;
}

.ant-form-item-label label{
    margin-left:5px;
}


.toolbar{
    /*background: #ECECEC !important;*/
    padding: 3px;
}

.core-table .main-table{
     /*background: #ECECEC !important;*/
}